<div class="container about-wrapper">
  <div class="about-text">
    <%= image_tag 'redC_logo_clean.png', class: 'about-img' %>

    <h1>About our team</h1>

    <p>
      RedC robotics is a student run organization at the University of Illinois at Urbana-Champaign
      dedicated to creating remotely operated underwater vehicles. Members are given the oppurtunity 
      to work in a laboratory environment, experiment with ongoing university research, and refine 
      their technical skills.
    </p>
    
    <br />

    <p>
      The redC team is working alongside researchers at the Ven Te Chow Hydrosystems Laboratory where
       robots we are building will assist with current studies. These robots combine a large variety 
       of skills from designing the robot in CAD to programming the logic behind the controls on a 
       custom built circuit board. Currently, the robot is drafted using Autodesk Inventor, circuits are
        designed using CadSoft Eagle, and software is running on Debian Linux with a mix of C# and Python 
        for robot controls. With access to university resources such as 3D printing workspaces, 
       fabrication labs, and world class professors, redC robotics ensures that the quality of the
       robots are top tier.
    </p>

    <br />

    <h2>Technical Aspects</h2>
    <ul>
      <li>Computer Aided Design</li>
      <li>3D Printing</li>
      <li>Circuit Design</li>
      <li>Programming</li>
      <li>Physics Applications</li>
    </ul>
  </div>
</div>