<div class="container dashboard-wrapper">

	<div class="col-md-3">
		<div class="links col-md-12">
			<div class="links-head">
				<h3>Useful Links</h3>
			</div>

			<ul class="links-list">
				<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
				<li><%= link_to "Articles", articles_path %></li>
				<% if logged_in? && current_user.permission > 3 %>
			    <li><%= link_to "Users", users_path %></li>
			    <li><%= link_to "Write new article", new_article_path %></li>
			  <% end %>
			</ul>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md-12 links">
			<div class="links-head">
				<h3>Administration</h3>
			</div>
			<p>Hello</p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12 links">
			<div class="links-head">
				<h3>Recent Articles</h3>
			</div>
		</div>
	</div>
</div>