<div class="jumbotron">
  <h1>Turning the Tide</h1>
</div>

<div class="home-basic">
  <div class="container">
    <h2>redC robotics is a pioneer in underwater automation</h2>

    <p>We design modular ROVs to push the limits of deep exploration</p>
  </div>
</div>

<div class="container home-info-wrapper">
  <div class="col-md-8">
    <h2>redC Philosophy</h2>

    <p>
      As I have done more and more research into the area of submersible technology,
      I have come to the conclusion that the technology market is on the brink of an
      "underwater revolution." The untapped potential of Earth's bodies of water is
      starting to come to light.  Based on the idea that "data centers love remote,
      cold environments," Microsoft has recently been testing just that.  It is even
      possible to have an underwater turbine power this data center.  On another note
      National Geographic reports that, "the deep sea contains enough mineable gold that
      there's nine pounds (four kilograms) of it for every person on Earth." So why
      haven't projects like this been carried out to a greater extent yet?  In my opinion,
      it is because we lack the tools and methodology needed to safely, successfully, and
      consistently bring technology underwater.  What my team is doing is making an
      imperative tool that will be of paramount importance to any underwater project,
      venture, or exploration.  Not only are we creating the tool, but we are attempting
      to do so in a modular and efficient way such that this technology can be available
      and of use to any underwater project.  Along with this, we are developing new and
      innovative ways of integrating water with technology.  The technology we are
      creating will be deeply integrated in the ventures of the future.
    </p>

    <h3 class="signature">-David Null</h3>
  </div>

  <div class="col-md-4">
    <h3><b>Recent Articles</b></h3>
    <% @articles.each do |f| %>
      <h4 class="article-title"><b><%= link_to f.title, f %></a></b></h4>
      <div class="article-content">
        <% if f.content.length > 200 %>
          <% end_ind = f.content[0...200].rindex(' ') %>
          <p><%= f.content[0...end_ind] + "..." %> <%= link_to "Read More", f %></p>
        <% else %>
          <p><%= f.content %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
