<div class="jumbotron work-design work-tile">
  <h1>Design</h1>
  <div class="tile-about">
    <h3>
      polished compositions from the mind of the redc team <a href="#">Learn More</a>
    </h3>
  </div>
</div>

<div class="jumbotron work-hardware work-tile">
  <h1>Hardware</h1>
  <div class="tile-about">
    <h3>
      Precisely machined components, operating underwater <a href="#">Learn More</a>
    </h3>
  </div>
</div>

<div class="jumbotron work-software work-tile">
  <h1>Software</h1>
  <div class="tile-about">
    <h3>
      Modular and elegant robot interaction using C# and Python <a href="#">Learn More</a>
    </h3>
  </div>
</div>
