<nav>
  <div class="container clearfix">
    <div class="nav-left">
      <a href=<%= root_path %>><span class="nav-front">redC</span> Robotics</a>
    </div>

    <div class="nav-right">
      <a id="menu-button" href="#"><i class="fa fa-bars"></i> Menu</a>
      <div class="nav-small">
        <% if logged_in? %>
          <%= link_to "Logged in as #{current_user.first_name} #{current_user.last_name}", @current_user %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
