<nav>
  <div class="container clearfix">
    <div class="nav-left">
      <a href=<%= root_path %>><span class="nav-front"><!--red--><span class="under">C</span></span> Robotics</a>
    </div>

    <div class="nav-right">
      <a href="#"><i class="fa fa-bars"></i> Menu</a>
    </div>
  </div>
</nav>
