<div class="container">
  <% if logged_in? %>
    <% @users.each do |user| %>
      <b><%= user.first_name %> <%= user.last_name %></b>
      <p><%= user.email %></p>
    <% end %>
  <% else %>
    <p>You must be logged in to view this page</p>
  <% end %>
</div>
