@font-face {
	font-family: Bebas;
	font-weight: normal;
	src: url("../fonts/BebasNeueRegular.ttf") format('truetype');
}

@font-face {
	font-family: Montserrat;
	font-weight: normal;
	src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

/*
	==============================
	Header Bar
	==============================
*/

.header {
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	height: 60px;
	position: fixed;
	z-index: 1000;
}

.header .nav-links {
	float: right;
}

.header ul {
	padding-right: 40px;
	margin: 0;
}

.header li {
	height: 100%;
	display: inline-block;
	list-style: none;
	color: white;
	padding: 17px 30px 12px 30px;
	font-family: Bebas;
}

.header li a {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/*
	==============================
	Slide
	==============================
*/

.slide-container img {
	max-width: 100%;
	position: absolute;
}

.slide-text {
	position: absolute;
	display: block;
	width: 100%;
}

.slide-text h1 {
	color: white;
	font-size: 70px;
	font-family: Bebas;
	text-align: center;
	padding-top: 200px;
}

.filter1 {
  position: relative;
  -webkit-filter: contrast(85%) brightness(60%) saturate(75%) sepia(22%);
  filter: contrast(85%) brightness(60%) saturate(75%) sepia(22%);
}
.filter1::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  background: rgba(173, 205, 239, 1);
}

.filter2 {
  position: relative;
  -webkit-filter: contrast(110%) brightness(60%) sepia(30%) grayscale(70%);
  filter: contrast(110%) brightness(60%) sepia(30%) grayscale(70%);
}
.filter2::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}