/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
  =====================================
  Fonts
  =====================================
*/

@font-face {
  font-family: 'Bebas';
  font-weight: normal;
  src: url("BebasNeueRegular.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url("Montserrat-Regular.ttf") format('truetype');
}

/*
  =====================================
  Baseline CSS
  =====================================
*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bebas';
}

p {
  font-family: 'Montserrat';
}

a:hover,
a:active {
  text-decoration: none;
}

/* clearfix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html, body {
  /*overflow-x: hidden;*/
  height: 100%;
}

body {
  min-height: 100%;
}

/*
  =====================================
  Navigation Bar
  =====================================
*/

.nav-fix {
  padding: 40px;
}

.nav-custom {
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-custom li {
  padding: 3px 6px 0px 6px;
  font-family: 'Bebas';
}

.nav-custom li a {
  color: white !important;
  text-decoration: none;
  font-size: 30px;
}

.navbar-brand {
  font-family: 'Consolas', monospace;
  color: white !important;
}

#redc {
  color: crimson;
}

.dark-fix {
  background-color: rgba(0,0,0,0.81);
  border-bottom: 1px solid crimson;
}

/*
  =====================================
  Form CSS
  =====================================
*/

 .form_header {
   text-align: center;
   font-size: 22px;
 }

 .form_title {
   display: block;
   font-size: 12px;
   font-weight: 700;
 }

 .checkbox_form {
   display: inline-block;
   line-height: 21px;
   vertical-align: top;
 }

 .form input,
 .form textarea {
   border-radius: 0;
   border: 1px solid #ddd;
   padding: 4px;
   display: block;
   margin: 4px;
   width: 400px;
 }

 .form-long input,
 .form-long textarea {
   width: 650px;
 }

.form input[type="checkbox"] {
  padding-top: 7px;
  display: inline;
  width: auto;
}

 .form input:active,
 .form input:focus,
 .form textarea:active,
 .form textarea:focus {
   border-color: #24c9fe;
   box-shadow: 0 0 5px #24c9fe;
 }

 .form input[type=submit] {
   margin-top: 20px;
 }

 .wrapper {
   width: 400px;
   margin: 0 auto;
 }

 .wrapper-long {
   width: 650px;
   margin: 0 auto;
 }

 /*
   =====================================
   Homepage
   =====================================
 */

.jumbotron {
  background-image: url(dsbackmod4.jpg);
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

.jumbotron h1 {
  display: block;
  margin: auto;
  margin-top: 29vh;
  font-size: 96px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

.jumbotron h4 {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
}

.jumbotron h4 a {
  margin-top: 50px;
  padding: 20px;
  color: white;
  display: inline-block;
  background-color: #B81C1B;
  font-size: 18px;
  transition: 0.2s;
}

.jumbotron h4 a:hover {
  background-color: black;
}

.home-basic {
  background-color: #f2efef;
  margin-bottom: 30px;
}

.home-basic h2,
.home-basic p {
  margin: auto;
  text-align: center;
  color: #646464;
}

.home-basic h2 {
  margin-top: 50px;
  font-size: 40px;
}

.home-basic p {
  margin: 20px auto 40px auto;
}

.home-info-wrapper .signature {
  margin-left: 30px;
}

.home-info-wrapper {
  margin-bottom: 30px;
}

/*
  =====================================
  Dashboard
  =====================================
*/

.dashboard-wrapper a {
  display: block;
}

.dashboard-wrapper .links {
  border: 1px solid #555;
  border-radius: 2px;
  padding: 0px !important;

  .links-list {
    list-style: none;
    padding: 5px;
    margin-bottom: 0px;

    a {
      color: #838383;
    }

    a:hover {
      color: #696969;
    }
  }

  .links-head {
    margin: auto;
    border-bottom: 1px solid #555;
    background-color: #555;

    h3 {
      color: white;
      margin-top: 0px;
      padding-top: 10px;
      font-weight: bold;
      text-align: center;
      margin: auto;
    }
  }
}

 /*
   =====================================
   User Show page
   =====================================
 */

.show-head {
  margin: 0 auto;
  text-align: center;
}

.show-head h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
}

.user-about {
  float: left;
}
