// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_header {
  text-align: center;
  font-size: 22px;
}

.form_title {
  display: block;
  font-size: 12px;
  font-weight: 700;
}

.form input {
  border-radius: 0;
  border: 1px solid #ddd;
  padding: 4px;
  display: block;
  margin: 4px;
  width: 400px;
}

.form input:active,
.form input:focus {
  border-color: #24c9fe;
  box-shadow: 0 0 5px #24c9fe;
}

.form input[type=submit] {
  margin-top: 20px;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}
